RecruitmentAdmin/App_WebReferences/ServiceReference1/SlotManagementAPI1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xent1:300/SlotManagementAPI.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SlotManagementAPI" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilitySlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="fac" type="q2:Facility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilitySlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFacilitySlotsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="parameters" nillable="true" type="q3:ParameterType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="FacilitySlotTypeID" type="q4:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserveSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserveSlotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSlotStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="parameters" nillable="true" type="q5:StatusParameterType" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SlotManagementAPI" minOccurs="0" name="FacilitySlotTypeID" type="q6:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSlotStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSlotStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>