RecruitmentAdmin/App_WebReferences/ServiceReference1/SlotManagementAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SlotManagementAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://xent1:300/SlotManagementAPI.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://xent1:300/SlotManagementAPI.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://xent1:300/SlotManagementAPI.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SlotManagementAPI" />
      <xsd:import schemaLocation="http://xent1:300/SlotManagementAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISlotManagementAPI_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_GetFacilitySlots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilitySlots" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_GetFacilitySlots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilitySlotsResponse" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_ReserveSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveSlot" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_ReserveSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveSlotResponse" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_UpdateSlotStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSlotStatus" />
  </wsdl:message>
  <wsdl:message name="ISlotManagementAPI_UpdateSlotStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSlotStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ISlotManagementAPI">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotManagementAPI/DoWork" message="tns:ISlotManagementAPI_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotManagementAPI/DoWorkResponse" message="tns:ISlotManagementAPI_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilitySlots">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotManagementAPI/GetFacilitySlots" message="tns:ISlotManagementAPI_GetFacilitySlots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotManagementAPI/GetFacilitySlotsResponse" message="tns:ISlotManagementAPI_GetFacilitySlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotManagementAPI/ReserveSlot" message="tns:ISlotManagementAPI_ReserveSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotManagementAPI/ReserveSlotResponse" message="tns:ISlotManagementAPI_ReserveSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSlotStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISlotManagementAPI/UpdateSlotStatus" message="tns:ISlotManagementAPI_UpdateSlotStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISlotManagementAPI/UpdateSlotStatusResponse" message="tns:ISlotManagementAPI_UpdateSlotStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISlotManagementAPI" type="tns:ISlotManagementAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISlotManagementAPI/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilitySlots">
      <soap:operation soapAction="http://tempuri.org/ISlotManagementAPI/GetFacilitySlots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveSlot">
      <soap:operation soapAction="http://tempuri.org/ISlotManagementAPI/ReserveSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSlotStatus">
      <soap:operation soapAction="http://tempuri.org/ISlotManagementAPI/UpdateSlotStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SlotManagementAPI">
    <wsdl:port name="BasicHttpBinding_ISlotManagementAPI" binding="tns:BasicHttpBinding_ISlotManagementAPI">
      <soap:address location="http://xent1:300/SlotManagementAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>